.banner {
  background-image: url(../images/diana-macesanu-fvPfMJL2wKw-unsplash.jpg);
  color: white;
  padding: 200px 0px;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -23%;
}

.insta {
	width: 300px;
	margin-top: 10%;
	margin-left: 9%;
}