.image {
  margin-top: -61%;
  background-image: url(../images/samuel-schwendener-tF2rITQWkNY-unsplash.jpg);
  color: white;
  padding: 200px 0px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}


.image > h2 {
	margin-top: -14%;
}
